.footer-main-container {
  background-color: rgb(97, 91, 91);
  color: white;
}

.navbar-btn-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navbar-btn-container p {
  margin: 0%;
  display: flex;
  align-items: center;
}
